<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{ nombre | uppercase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>

  <button
    pButton
    type="button"
    label="Help" class="p-button-help"
    icon="pi pi-check" iconPos="right"
    (click)="mostrarNombre()"
  ></button>

  <p-card [header]='nombre | titlecase' subheader='Sub header'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos molestias nihil aut, iusto, enim cum magnam vel fugit quidem distinctio reiciendis, commodi repellendus consequuntur qui et excepturi dicta incidunt? Rem.
</p-card>
</div> -->
